<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">ROM's I Support for Moto G5 Plus :-</h2>
                <hr class="light">
                <p class="text-faded">AIM ROM<br>
                HalogenOS<br>
                Cosmic-OS<br>
                Oct-OS<br>
                Atomic-OS<br>
                AOSGPX<br>
                NucleaROM<br>
                </p>
                <a href="#portfolio" class="btn btn-default btn-xl">Download</a>
            </div>
        </div>
    </div>
</section>
